!!!
%html
  %head
    %title
      - if content_for? :title
        = "Jerel Miller - #{yield :title}"
      - else
        Jerel Miller
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = stylesheet_link_tag :application, :media => "all"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Oswald'
    = javascript_include_tag :application
    = csrf_meta_tags

  %body
    = render 'layouts/header'
    .content
      = yield